*{
    box-sizing: border-box;
    margin:0;
    PADDing:0;
    font-family: Arial, Helvetica, sans-serif;
}
.grid{
    background-color: #eee;
    display: grid;
    grid-template: repeat(3, 1fr) .7fr / repeat(4, 1fr);
    gap: 5px;
    align-content: space-between;
    
}
.grid div{
background-color: #ffffff;
border-bottom: 2px solid orange;

}
.one{
    grid-area: 1 / 1 / 2 / 3;
}
.two{
    grid-area: 1 / 3 / 2 / 4;
}
.three{
    grid-area: 1/ 4 / 4 / 5;
}
.four{
    grid-area: 2 / 1 / 4 / 2;
}
.five{
    grid-area: 2 / 2/ 3 / 4 ;
}
.six{
    grid-area: 3 / 2 / 4 / 4;
}