/* 
     *&*&*&* css#61/62 Grids *&*&*&*
      _______________
     children properties:
      ^^^^^^^^^^^^^^^
grid-column: span n
grid-row: start / end
grid-area: row-start / col-start / row-end / col-end;
*/

* {
  box-sizing: border-box;
}
.parent {
  margin: 20px;
  width: 800px;
  height: 500px;
  background-color: #ddd;
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 10px 10px;
}
.parent div {
  background-color: red;
  color: white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.child1 {
  grid-column: 1 / 5;
  grid-column: 2 / span 3;
}
.child2 {
  grid-row: 2 / 5;
}
.child3 {
  grid-column: 4 / span 4;
  grid-column: span 2;
}
div .child4 {
  background-color: lime;
  grid-area: 3 / 5 / 6 / 8;
}
